/vendor/
/composer.lock
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
/.idea/
/.vscode/
*.swp
*.swo
/node_modules/
*.log
*.cache
*.tmp
/tmp/
*.sql
*.sqlite
/storage/
/public/storage/
/phpunit.xml
/phpunit.xml.dist
Icon?
ehthumbs.db
Desktop.ini
